
/*全局采用height包含padding的模式(但不包括margin)，以兼容bootstrap*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  padding: 10px 10px;
  overflow-y:hidden;
}

.info-div, .btn-div{
  margin-top:5px;
}

.btn-div button{
  margin-right: 20px;
}


/* 表格搜索搜索框样式 */
.search-input {
  display: inline-block;
  min-width: 500px;
  height: 34px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#search-btn{
    min-width: 60px;
}
.top-btn{
    height: 33px;
    margin-left: 5px;
    vertical-align: top;
    min-width: 40px;
    top:0px;
}
#search-param-toggle{
    vertical-align: top;
    margin-top: 0px;
}

.down-sel-toggle{
    width: 34px;
    height: 34px;
    border: 1px solid lightgray;
    margin-left:-6px;
    margin-top: -2px;
}
.down-sel-content{
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 1000;
    margin-top: -1px;
    margin-left: -1px;
    display: none;
    text-align: left;
    padding: 10px;
    color: #8c8a8a;
    font-size: 13px;
}
.down-sel-content{
    width: 200px;
    height: 100px;
    vertical-align: top;
}
.down-sel-content input[type='checkbox']{
    width: 13px;
    height: 13px;
}
.down-sel-content label{
    font-weight: 500;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 2px;
}


.snippet-item{
  width: 100%;
  margin-bottom:5px;
  padding:5px;
}
.board{
    margin-top: 10px;
}
#last-note{
    height:calc( 100% - 34px );
    margin-top: -1px;
    line-height: 25px;
    font-family: "Source Han Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
}
/*取消 #last-note bootstrap设置的获取焦点颜色*/
#last-note:focus{
    outline: none;
}

.top-nav{
    padding: 5px 15px !important;
    border:1px solid #000 !important;
    font-weight: 600;
    user-select: none;
    color: gray;
    /*border-bottom-color: transparent;*/
}
.edit-panel-btn{
    margin-top: -1px;
    color: gray;
    font-weight: normal;
}
#edit-flag{
    font-size: 14px;
    display: none;
    margin-left:3px;
}


#diff-info{
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

#diff-info .green{
    background-color: green;
}

#diff-info .red{
    background-color: red;
    /*中划线 text-decoration: line-through; */
}

#search-res-board{
    background-color:#f8f8f9;
    padding:10px 3px;
    overflow-y: auto;
}
.board-items{
    height:calc( 100% - 30px );
    overflow-y:auto;
    margin-top: 5px;
}
.left-top-title{
    vertical-align: top;
    display: inline-block;
    padding-left: 5px;
    width:100px;
    font-weight: 800;
}
.top-right-btn{
    position:relative;
    top:0px;
    margin-right: 6px;
}
.top-right-btn-1{
    right:calc(135px - 100%);
}
.top-right-btn-2{
    right:calc(175px - 100%);
}
.top-right-btn-3{
    right:calc(215px - 100%);
}
.res-item, .res-detail-items, pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.res-item{
  min-height: 50px;
  max-height: 250px;
  border:none;
  margin: 0px;
}


#res-detail{
    margin-top: 5px;
    background-color:#f5f5f5;
}
.mark, mark{
    padding:2px;
}


#bottom-info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    line-height: 15px;
    background-color: #f8f8f9;
    font-size: 10px;
    margin: 0px;
    padding:5px 5px;
}


/* 边框文字 */
fieldset {
    padding: .35em .625em .75em;
    margin: 0 0px;
    border: 1px solid silver;
}
legend {
    padding: .5em;
    border: 0;
    width: auto;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight:800; 
}

.dir-to-note-btn, .show-note-his-btn{
    margin: 10px;
    padding: 5px 10px;
}

.ModalInfoDiv{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.top-nav.disabled{
    filter:grayscale(100%);
}

.diff-pre-btn, .diff-next-btn, .diff-pre-copy-btn{
    /* 固定显示在右侧中间位置 */
    position: fixed;
    top: calc(50% - 20px);
    right: 40px;
    z-index: 1000;
    /* 透明度 */
    opacity: 0.5;
    filter:alpha(opacity=50);
    /* 鼠标悬停时透明度 */
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.diff-next-btn{
    top: calc(50% + 20px);
}
.diff-pre-copy-btn{
    top: calc(50% + 60px);
}
#note-history-desc{
    margin-bottom: 15px;
    font-size: 12px;
    color: #8c8a8a;
}
.show-note-his-btn{
    min-width: 300px;
}